extends ../layouts/main

block variables
  - var title = 'The Vue template';
  - var description = 'Description for the template';

block content

block script
  //- script(type='text/javascript' src="/socket.io/socket.io.js")
  //- script(type='text/javascript').
  //-   const socket = io.connect('http://localhost')